.btn,	.single_add_to_cart_button {
	display: inline-block;
	text-decoration: none;
	padding: 10px 20px;
	background-color: $color-1;
	border: 2px solid $color-1;
	color: black;
	font-weight: bold;
	font-size: .9em;
	cursor: pointer;
	position: relative;
	border-radius: 0;
	@include transition(.4s);



	&.btn-block {
		width: auto;
		display: block;
	}

	&.btn-colored {
		background-color: $color-3;
		border: 2px solid $color-3;
		color: $color-2;
		&:hover {
			background-color: $color-2;
			color: $color-3;
		}
	}
	&:hover {
		background-color: transparent;
		color: $color-1;
	}
	&.btn-dark {
		background-color: black;
		color: $color-1;
		border-color: black;
		padding: 10px 20px;
		border: 1px solid #fdec01;
		&:hover {
			background-color: $color-1;
			color: black;
			border-color: $color-1;
		}
	}
	&.btn-light {
		border: 3px solid $color-3;
		border-radius: 0;
		font-weight: bold;
		font-size: 12px;
		padding: 10px 20px;
		letter-spacing: 1px;
	}

	&[data-wpxhr].loading {
		color: transparent;
		&::after {
			content: "";
			border-top: 2px solid black;
			border-right: 2px solid black;
			width: 20px;
			height: 20px;
			border-radius: 10px;
			background-color: transparent;
			display: block;
			position: absolute;
			top: 8px;
			left: calc(50% - 10px);
			animation-name: "rotate";
			animation-duration: 1s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
		}
	}

	&--light {
		font-weight: bold;
		color: black;
		background-color: $color-1;
		border-color: $color-3;
		&:hover {
			background-color: $color-3;
			color: black;
		}
	}
	&__fa {
		color: inherit;
		font-size: 20px;
		margin-right: 10px;
		float: left;
		@include transform(scale(1.2));
	}

}

.btn-svg {
	color: #fdec01;
	cursor: pointer;
	display: block;
	line-height: 45px;
	margin: 0 auto 2em;
	max-width: 300px;
	position: relative;
	text-decoration: none;
	vertical-align: middle;
	width: 100%;
	text-align: center;
	background: darken(black, 1.5%);
	font-weight: 100;
	transition:.4s;
	letter-spacing: 0;
	font-weight: bold;
	svg {
		height: 45px;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

	rect {
		fill: none;
		stroke: #fdec01;
		stroke-width: 2;
		stroke-dasharray: 690, 0;
	}
	&:hover {
		background: rgba(#fdec01, 0);
		letter-spacing: 1px;

		rect {
		stroke-width: 5;
		stroke-dasharray: 35, 496;
		stroke-dashoffset: 48;
		transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
		}
	}
}
.btn-flip {
	transform-style: preserve-3d;
	position: relative;
	transition: .3s ease;
	padding: 0 25px;
	color: black;
	background-color: transparent;
	text-decoration: none;
	height: $height-btn;
	display: inline-block;
	width: $width-btn;
	font-size: .9em;
	@include transform(translateZ($height-btn) translateY(-50%) rotateX(-0deg) scale(1));
	&:hover {
		@include transform(translateZ(0) translateY(-50%) rotateX(-90deg) scale(1.04));
	}
	&> * {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		display: block;
		padding: 15px 0px;
		max-height: 46px;
		text-align: center;
		border: 1px solid #FDEC01;
		box-sizing: border-box;
		font-weight: bold;
		&:last-child {
			background-color: black;
			color:#FDEC01;
			@include transform(translateY(-$height-btn/2-4px) rotateX(90deg) translateZ(0));
			box-sizing: border-box;
		}
		&:first-child {
			background-color: #FDEC01;
			@include transform(translateZ($height-btn/2-4px) rotateX(0));
		}
	}
}
@keyframes rotate {
	0%{
		@include transform(rotate(0deg));
	}
	100%{
		@include transform(rotate(360deg));
	}
}


.scroll-btn-container {
	display: block; 
	clear: both;
	.scroll-btn__title {
		text-align: center;
		color: $color-3;
		margin-bottom: 32px;
		display: block;
	}
}
