.frame {
	padding: 10px 20px;
	font-size: 13px;
	color: $color-3;
	border: 1px solid $color-3;
	font-weight: bold;
	letter-spacing: 2Px;
	margin: 20px;
	display: inline-block;
	text-align: center;
	font-size: 11px;
	&--light {
		background-color: white;
		color: black;
	}
	&--dark {
		background-color: black;
		color: $color-3;
	}
}

.flex-wrap-container {
	.frame {
		margin: 20px 0;
		width: 250px;
		line-height: 20px;
		display: flex;
		text-align: center;
		flex-direction: column;
		justify-content: center;
		min-height: 55px;
	}
}
