
//Grid
$space : 15px;
$height: 300px;
$thumbnail-limit: 150px;

// Content
$padding-top: 10px;
$padding-side: 16px;
$big-size: 15px;
$small-size: 11px;

.items-col {
	display: block;
	flex-wrap: wrap;
	margin: -1*$space;
}

.item {
	background-color: black;
	margin: $space;
	min-height: $height;
	float: left;
	position: relative;
	height: $height;
	box-sizing: border-box;
	overflow: hidden;
	&--border {
		border: 1px solid $color-3;
	}
	&--wide {
		width: calc(100% - #{$space*2});
		min-height: $height;
	}
	&--small {
		width: calc(50% - #{$space*2});
	}
	&--tall {
		min-height: 2*$height;
	}
	&--no-limit {
		height: auto;
	}
	&__banner {
		background-color: $color-3;
		color: black;
		display: flex;
		flex-direction: column;
		justify-content: center; 
		position: relative;
		padding: $padding-top $padding-side;
		min-height: 50px;
		&--dark {
			background-color: $color-2;
			color: $color-3;
		}
	}
	&__title {
		text-align: center;
		font-weight: bold;
		line-height: 1em;
		font-size: $big-size;
		&--top-left {
			position: absolute;
			top: $padding-top;
			left: $padding-side;
			text-align: left;
		}
	}
	&__action {
		text-align: center;
		margin: 20px 0;
	}
	&__subtitle {
		
	}
	&__corner {
		position: absolute;
		font-size: $small-size;
		font-weight: bold;
		&--bottom-right {
			right: $padding-side;
			bottom: $padding-top;
		}
	}

	&__thumbnail {
		width: 100%;
		img {
			width: 100%;
		}
		@if($thumbnail-limit != none) {
			max-height: $thumbnail-limit;
			height: $thumbnail-limit;
			overflow: hidden;
			position: relative;
			img {
				position: absolute;
				top: 50%;
				left: 0;
				width: 100%;
				transform: translateY(-50%);
			}
		}
	}
	&__content {
		padding: $padding-top $padding-side;
		color: white;
		line-height: 1.5em;
		font-size: $small-size;

		p {
			color: white;
			margin:0;
			padding:0;
			font-size: $small-size;
			line-height: 1.5em;
		}
		&--no-pad {
			padding: $padding-top 0;
		}
	}
}


@media screen and (max-width: $break-point-2) {
	.item {
		&--wide, &--small, &--tall {
			width: calc(100% - #{$space});
		}
	}
}
