.actu-events {
	padding: 100px 0;
	.wrapper {
		display: flex;
		flex-wrap: wrap;
		.main-part {
			margin-right: $small-pad;
		}
		.second-part {
			margin-left: $small-pad;
		}
	}
}

.events {
	&-item {
		&__content {
			padding: 10px 0 !important;
			border-top: 1px solid grey;
			margin: 0 16px !important;
		}
		&:first-child .item__content {
			border-top: 0;
		}
		&__thumbnail {
			img {

			}
		}
	}
}


