/*
Style de la page formations, pour voir la plupart
des styles générique, aller dans la page _archive.scss
*/

#boutique {
  h1 {
    margin-bottom: $medium-pad;
  }
  .loop-archive {
    .archive-body-item .archive-main {
      width: 100%;
    }
    .archive-head .archive-head-item {
      background-color: transparent;
      padding-bottom: 0px;
      .title-container {
        padding: 20px 0;
        height: 60px;
      }
      .btn {
        position: static;
        width: 100%;
        margin-top: 10px;
        @include transform(none);

      }
    }
  }
}

.carousel.product-carousel {
  .carousel-item {
    background-color: white;
    color: black;
    padding-bottom: 60px;
    .title {
      margin-top: $small-pad;
      padding: 0  $small-pad;
      margin-bottom:  $small-pad;
      font-weight: bold;
    }
    .excerpt {
      padding: 0  $small-pad;
      font-size: .8em;
    }
    .link-more {
      display: none;
    }
    .btn {
      margin: 16px;
      width: calc(100% - 32px);
      position: absolute;
      bottom: 0;
      &:hover {
        color: black;
        background-color: $color-3;
      }
    }
  }
}

#single-product {
  .loop-archive {
    .fa-container {
      min-height: 50px;
      padding: 5px 25px;
      p {
        font-size: 12px;
        padding-top: 10px;
      }
      i {
        margin-right: 10px;
      }
      &.formator {
        p {
          font-size: 10px;
          strong {
            font-size: 12px;
          }
        }
      }
    }

    .archive-body-item {
      &:first-child {
        padding-top: 100px;
      }
      border-top: 0;

    }
    .related_products {
      float: left;
      .carousel-item {
        margin-top: 20px;
      }
    }

    .single_variation_wrap {
      padding: 20px;
      padding-top: 0;
    }
    .single_add_to_cart_button {
      margin-top: 10px;
      background-color: $color-3;
      opacity: 1;
      color: black;
      width: 100%;
      border-radius: 0;
      padding: 13px 10px;
      font-weight: bold;
      font-size: 1.1em;
    }
  }
}

.checkout-page {
  background-color: white;
  .landing {
    color: black;
    padding-top: $big-pad;
    &::before {
      background-color: white;
    }
  }
}

body.woocommerce-checkout {
  .woocommerce-info {
    border-top-color: transparent;
    margin-bottom: 10px;
    font-size: 14px;
  }
}

body.woocommerce-checkout {
  .woocommerce {
    .woocommerce-info {
      border-top-color: transparent;
      margin-bottom: 10px;
      font-size: 14px;
    }
    .woocommerce-checkout {
      margin-top: 40px;
      .customer_details {
        h3 {
          text-transform: uppercase;
          font-size: 20px;
          padding-bottom: 20px;
          margin-bottom: 20px;
          position: relative;
          &::after {
            content:"";
            position: absolute;
            bottom: -10px;
            height: 1px;
            width: 50px;
            background-color: black;
          }
        }
      }
    }
  }
}
.woocommerce-cart {
  h1 {
    display: none;
  }
  background-color: white;
  header.transparent .navbar {
    background-color: black;
  }
  .landing {
    background-color: white;
    color: black;
    &::before {
      background-color: white;
    }
  }
  .woocommerce-cart-form {
    .shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents {
      border: 0;
      background-color: white;
      thead {
        th {
          text-transform: uppercase;
          text-align: center;
          font-size: 14px;
          line-height: 30px;
        }
      }
      td {
        padding: 10px 12px;
        a {
          color: black;
        }
      }
      td.actions {
        text-align: right;
        padding-top: 30px;
        background-color: #000;
        margin-top: 20px;
        * {
          // color: $color-3;
        }
        .coupon {
          float: left;
          input.input-text {
            border-radius: 0;
            margin-left: 20px;
            padding-left: 20px;
            width: calc(100% - 20px);
          }
          input.button {
            background-color: white;
            color: black !important;
            border-radius: 0;
            font-size: 12px;
            margin: 20px 0 20px 20px;
            border: 3px solid $color-3;
            padding: 5px 15px;
          }
        }
        input[disabled] {
          display: none !important;
        }
      }
    }
  }
  .cart-collaterals {
    .cart_totals.calculated_shipping {
      h2 {
        margin-top: 32px;
        font-size: 20px;
        margin-bottom: 10px;
        padding-bottom: 20px;
        border-bottom: 1px solid #DDD;
        text-transform: uppercase;
      }
      .shop_table {
        border: 0;
        tr.cart-subtotal{
          font-size: 12px;
          th, span {
            color: #888;
          }
        }
      }
    }
    .wc-proceed-to-checkout {
      a.checkout-button {
        border: 3px solid black;
        border-radius: 0;
        font-weight: bold;
        font-size: 14px;
        padding: 17px 32px;
        letter-spacing: 1px;
        background-color: black;
        color: #ffed00;
        width: auto;
        display: inline-block;
        text-align: center;
        margin: auto;
        @include transition(.4s);
        &:hover {
          background-color: white;
          color: black;
        }
      }
    }
  }
}
