.carousel {
	.carousel-control {
		display: none;
	}
	.carousel-body {
		position: relative;
		overflow: hidden;
		flex-wrap: wrap;
		width: 960px;
		.carousel-container {
			@include transition(.4s);
			display: flex;
			flex-wrap: wrap;
			.carousel-item {
				margin: 30px 5px;
				position: relative;
				flex: 1;
				min-width: 230px;
				max-width: 230px;
				&--width-auto {
					max-width: none;
				}
				.crop-img {
					height: 150px;
					overflow: hidden;
					img {
						width: 130%;
						margin-left: -15px;
					}
				}
				.title-container {
					display: flex;
					flex-direction: column;
					justify-content: center;
				}
				&.compact {
					background-color: transparent;
					.title-container {
						text-align: center;
						background-color: $color-3;
						color: black;
						line-height: 1em;
						padding: 12px 0;
						height: 70px;
						.title {
							font-size: 15px;
							font-weight: bold;
							line-height: 1em;
							margin-top: 0px;
							margin-bottom: 0;
						}
					}
					.crop-img img {
						margin-left:0;
						max-width: none; // Woocommerce set max-width to 100%
					}
					.btn {
						margin: 0;
						margin-top: $small-pad;
						width: 100%;
						bottom: 25px;
					}
				}
			}
		}
	}

	&.active-control {
		.carousel-body {
			display: inline-block;
			float: left;
			flex-wrap: nowrap;
			.carousel-container {
				flex-wrap: nowrap;
			}
		}
		.carousel-control {
			display: flex;
			width: 120px;
			display: inline-block;
			position: absolute;
			justify-content: center;
			padding: 150px 10px;
			font-size: 3em;
			opacity: 1;
			left: auto;
			.carousel-control-label {
				text-align: center;
				font-size: 13px;
				color: $color-3;
				margin-top: $small-pad;
				font-weight: bold;
			}
			.carousel-control-btn {
				width: 40px;
				height: 40px;
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				display: inline-block;
				margin: 5px;
				opacity: 1;
				@include transition(.4s);
				&.hide {
					opacity: 0;
					display: inline-block !important;
				}
				&[data-direction="left"]{
					background-image: url("assets/images/left-arrow.png");
				}
				&[data-direction="right"]{
					background-image: url("assets/images/right-arrow.png");
				}
			}
		}
	}
}

@media screen and (max-width:$break-point-1){
	.carousel {
		.carousel-body, &.active-control .carousel-body {
			width: 720px;
			margin: auto;
			float: none !important;
			display: block;	
		}
		&.active-control {
			position: relative;
			.carousel-body {
				padding-top: 100px;
			}
			.carousel-control {
				position: absolute;
				width: 100%;
				height: 80px;
				padding: 20px 0;
				top: 0;
			}
		}
	}
}

@media screen and (max-width:$break-point-2){
	.carousel {
		.carousel-body, &.active-control .carousel-body {
			width: 480px;
		}
		
	}
}

@media screen and (max-width:$break-point-3){
	.carousel .carousel-body, .carousel.active-control .carousel-body {
		width: 240px;
		margin: auto;
		float: none !important;
		display: block;	
		.carousel-container .carousel-item {
			max-width: 100%;
			width: 100%;
		}
	}
}
