.homepage {
	color: white;
	h2 {
		font-size: 2.5em;
		font-weight: bold;
		color: white;
	}
	& > div, .container {
		position: relative;
	}
	&.make-ici-homepage {
		h2 {
			margin-bottom: 32px;
		}
		.landing {
			background: url("assets/images/bg.png") no-repeat;
			&::before {
				background-color: rgba(0,0,0,.6);
				z-index: 1;
			}
			#scroll {
				z-index: 1;
			}
			.container {
				z-index: 2;
			}
			video#bgvid {
				position: absolute;
				right: 0;
				bottom: 0;
				min-width: 100%;
				min-height: 100%;
				width: auto;
				height: auto;
				z-index: 0;
				
				background-size: cover;
			}
		}
	}
	.landing {
		min-height: 600px;
		height: 100vh;
		text-align: center;
		position: relative;
		padding-top: 0px;
		.nextend-arrow {
			top: auto !important;
			left: auto !important;
			bottom: auto !important;
			right: auto !important;

			bottom: 35px !important;
			border: 1px solid white;
			border-radius: 100%;
			padding: 5px;
			width: 25px !important;
			height: 25px !important;
			&-previous {
				right: 80px !important;
			}
			&-next {
				right: 30px !important;
			}
		}

		.n2-ss-swipe-element {
			height: 100vh !important;
		}

		.n2-ss-layers-container {
			margin: 0 !important;
		}
		.n2-ss-section-main-content {
			height: 100vh !important;
		}


		.container {
			@include transform(translateY(-50%));
			top: 40%;
			.landing-legend {
				h2 {
					font-size: 30px;
				}
			}
		}
		#scroll {
			color: $color-3;
			position: absolute;
			text-decoration: none;
			bottom: 50px;
			display: inline-block;
			padding-bottom: 10px;
			left: 50%;
			@include transform(translateX(-50%));
			&::after {
				content:"";
				display: block;
				position: absolute;
				width: 30px;
				height: 30px;
				left: calc(50% - 15px);
				bottom: -30px;
				background-image: url("assets/images/arrow.png");
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;
				@include transform(rotate(90deg));
			}
		}
	}

	.section-post {
		padding: 75px 0;
		&.last-posts {
			.carousel-body {
				float: left;
			}
			.see-all {
				width: 25%;
				float: left;
				text-align: right;
				padding-top: 200px;
				.btn {
					padding: 10px;
				}
			}
		}
		&.equipements {
			.center {
				max-width: 600px;
				margin:auto; text-align: center;
			}
		}
	}
}
