#page {
  h1 {
    margin-bottom: $medium-pad;
  }
}

#single-product {
}

.single-body {
  p {
    margin-bottom: $small-pad;
  }
  h2{
    text-align: center;
    color: $color-3;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
  }
  h3, h2 {
    padding:16px 0;
  }
}
