#post {

}

.post-type-archive-abonnements {
  .archive-main {
    padding-left: 70px;
    .fa-custom, .ico {
      @include transform(translateX(-50px));
      position: absolute;
      float: left;
      max-width: 50px;
      text-align: center;
      img {
        max-width: 35px;
        max-height: 35px;
      }
    }
  }
}

.staff-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .staff-item {
    width: 250px;
    max-width: 250px;
    min-width: 250px;
    background-color: white;
    color: black;
    flex: 1;
    text-align: center;
    position: relative;
    padding-bottom: 50px;
    margin: 30px;
    img {
      width: 100%;
    }
    .staff-item-content {
      padding: 10px;
      h3 {
        color: black;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 16px;
      }
      p {
        font-size: 12px;
        line-height: 1.2;
        margin-bottom: 16px;
      }
    }
    .btn {
      font-size: 11px;
      bottom: 15px;
      position: absolute;
      left: 50%;
      @include transform(translateX(-50%));
    }
  }
}
