#post {

}

.post-type-archive-abonnements {
  .archive-main {
    padding-left: 70px;
    .fa-custom, .ico {
      @include transform(translateX(-50px));
      position: absolute;
      float: left;
      max-width: 50px;
      text-align: center;
      img {
        max-width: 35px;
        max-height: 35px;
      }
    }
  }
}
