@font-face {
	font-family: "CenturyGothic Bold";
	src: url("assets/fonts/CenturyGothic_Bold.ttf");
}

@font-face {
	font-family: "CenturyGothic Regular";
	src: url("assets/fonts/CenturyGothic_Regular.ttf");
}
