/*
Style générique à l'ensemble du thème:
- bouton
- helper css
- format de documents
- notification
*/

body {
	font-family: $main-font;
	background: black;
	letter-spacing: 1px;
}

.fa-container {
	height: 55px !important;
}

//MARGE
.nopad { padding:0; }
.nomarge { margin: 0; }
.margin-top-big { margin-top: $big-pad !important; }
.margin-bottom-big { margin-bottom: $big-pad !important; }
.margin-left-big { margin-left: $big-pad !important; }
.margin-right-big { margin-right: $big-pad !important; }

.margin-top-small { margin-top: $small-pad !important; }
.margin-bottom-small { margin-bottom: $small-pad !important; }
.margin-left-small { margin-left: $small-pad !important; }
.margin-right-small { margin-right: $small-pad !important; }

.inv-margin-top-small { margin-top: -1*$small-pad !important}

//FONT
.bold { font-weight: bold; }

//POSITION
.left {float: left;}
.right {float: right;}
.clr {clear: both;}
.center {text-align: center; margin: auto; }


//FLEX
.flex {	display: flex; }
.flex-big { flex:2; }
.flex-small { flex:1;}

//SIZES
.full-width { min-width: 100% }

.main-title {
	font-size: 2.5em;
	font-weight: bold;
	margin-bottom: 32px;
	color: white;
	position: relative;
	&::before {
		content:"";
		position: absolute;
		display: block;
		left: -50px;
		width: 17px;
		height: 100%;
		background-color: $color-3;
	}
	&--no-border {
		&::before {
			display: none;
		}
	}
	&--dark {
		color: black;
	}
}

.container {
	width: $wrapper;
	position: relative;
}

.fa-custom, .ico {
	float: left;
	margin-right: 10px;
}


.overlay {
	background-color: rgba(0,0,0,.8);
}
.left-border {
	position: relative;
	&::before {
		content:"";
		position: absolute;
		display: block;
		left: -50px;
		width: 15px;
		height: 60%;
		background-color: $color-3;
	}
}

.left-full-border {
	position: relative;
	&::before {
		content:"";
		position: absolute;
		display: block;
		left: -50px;
		width: 17px;
		height: 100%;
		background-color: $color-3;
	}
}


span.framed {
	padding: 10px 20px;
	font-size: 1.5em;
	color: $color-3;
	border: 1px solid $color-3;
	font-weight: bold;
	letter-spacing: 2Px;
	margin: 50px 0 30px 0;
	display: inline-block;
}

p {
	line-height: 2;
	font-size: 14px;
}

pre {
	background-color: white;
	line-height: 1;
	overflow: visible;
}
h2{
	font-size: 2.5em;
	font-weight: bold;
}
a {
	color: black;
	text-decoration: underline;
}

.ico {
	width: 32px; height: 32px;
	font-size: 30px;
	color: $color-3;
}


////////////////////////////////////////////////////////////////////////////////
//
//								Scroll btn
//
////////////////////////////////////////////////////////////////////////////////


.scroll-manage {
	width: $medium-pad;
	height: $medium-pad;
	background-image: url("assets/images/scroll.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	position: fixed;
	bottom: $medium-pad;
	left: 50%;
	z-index: 999;
	@include transform(translateX(-50%) translateY(0));
	@include transition(.4s);
	&.hide {
		display: block;
		@include transform(translateX(-50%) translateY(100px));
	}
}

.scroll-to-top {
	width: $medium-pad;
	height: $medium-pad;
	background-color: $color-3;
	background-image: url("assets/images/arrow-top.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 50%;
	position: fixed;
	bottom: $small-pad;
	right: $small-pad;
	z-index: 999;
	@include transition(.4s);
	@include transform(translateX(0));
	&.hide {
		display: block !important;
		@include transform(translateX(100px));
	}
}

////////////////////////////////////////////////////////////////////////////////
//
//								Notice
//
////////////////////////////////////////////////////////////////////////////////
#notification {
	position: fixed;
	top: calc(50% - 25px);
	margin: auto;
	background-color: white;
	padding: 20px 40px;
	color: black;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	#notif-close-btn {
		padding: 8px 20px;
		margin-top: 15px;
	}
}

#notice {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 600px;
	text-align: center;
	background-color: #15aa41;
	padding: 40px;
	color: white;
	transform: translateY(-50%) translateX(-50%);
	z-index: 1001;
	padding-bottom: 70px;
	outline: 1000px solid rgba(255,255,255,.8);
	strong {
		font-size: 1.3em;
		font-weight: 500;
	}
	em {
		margin-bottom: 0px;
		display: block;
		font-weight: bold;
	}
	.action {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		border: 2px solid #15aa41;
		background-color: white;
		#closeNotice{
			color: #15aa41;
			text-transform: uppercase;
			font-weight: bold;
			display: block;
			padding: 15px;
		}
	}
	&[data-type="success"]{
		background-color: #15aa41;
	}
	&[data-type="success"]{
		background-color: rgb(255, 42, 42);
	}
}

@media screen and(max-width: 600px) {
	#notice {
		width: 100%;
		padding: 20px;
	}
}

@media screen and(max-height: 600px) {
	#notice {
		height: auto;
		top: 0;
		transform: translateY(0);
	}
}


////////////////////////////////////////////////////////////////////////////////
//
//								OVERRIDE BOOTSTRAP
//
////////////////////////////////////////////////////////////////////////////////




@media (max-width: 1230px) {
		 #content-page {
			padding: $big-pad $small-pad;
		}
		.navbar-header {
				float: none;
		}
		.navbar-left,.navbar-right {
				float: none !important;
		}
		.navbar-toggle {
				display: block;
		}
		.navbar-fixed-top {
				top: 0;
				border-width: 0 0 1px;
		}
		.navbar-nav {
				float: none!important;
				margin-top: 7.5px;
		}
		.navbar-nav>li {
				float: none;
		}
		.navbar-nav>li>a {
				padding-top: 10px;
				padding-bottom: 10px;
		}
}


.page-template-template-checkout, .woocommerce-cart {
	.container {
		width: 1150px;
	}
}

@media screen and (max-width: $break-point-1){
	.container {
		width: 100%;
	}
	.page-template-template-checkout, .woocommerce-cart {
		.container {
			width: 100%;
		}
	}
}


@media screen and (max-width: $break-point-2){
	.container {
		width: 100%;
	}
	.page-template-template-checkout, .woocommerce-cart {
		.container {
			width: 100%;
		}
	}
}
