/*
Style générique à l'ensemble du thème:
- bouton
- helper css
- format de documents
- notification
*/

body {
	font-family: $main-font;
	background: black;
	letter-spacing: 1px;
}

.fa-container {
	height: 55px !important;
}

//MARGE
.nopad { padding:0; }
.nomarge { margin: 0; }
.margin-top-big { margin-top: $big-pad !important; }
.margin-bottom-big { margin-bottom: $big-pad !important; }
.margin-left-big { margin-left: $big-pad !important; }
.margin-right-big { margin-right: $big-pad !important; }

.margin-top-medium { margin-top: $medium-pad !important; }
.margin-bottom-medium { margin-bottom: $medium-pad !important; }
.margin-left-medium { margin-left: $medium-pad !important; }
.margin-right-medium { margin-right: $medium-pad !important; }

.margin-top-small { margin-top: $small-pad !important; }
.margin-bottom-small { margin-bottom: $small-pad !important; }
.margin-left-small { margin-left: $small-pad !important; }
.margin-right-small { margin-right: $small-pad !important; }

.inv-margin-top-small { margin-top: -1*$small-pad !important}
.no-deco {
	text-decoration: none;
	color: black;
	&:hover {
		text-decoration: none;
	}
}
//FONT
.bold { font-weight: bold; }

//POSITION
.left {float: left;}
.right {float: right;}
.clr {clear: both;}
.center {text-align: center; margin: auto; }

//FLEX
.flex {	display: flex; }
.flex-big { flex:2; }
.flex-small { flex:1;}
.flex-wrap-container { 
	display: flex; 
	flex-wrap: wrap;
	justify-content: center;
}
.flex-start {
	align-items: flex-start;
	justify-content: space-between;
}

//SIZES
.full-width { min-width: 100% }

.main-title {
	font-size: 2.5em;
	font-weight: bold;
	margin-bottom: 32px;
	color: white;
	position: relative;
	&::before {
		content:"";
		position: absolute;
		display: block;
		left: -50px;
		width: 17px;
		height: 100%;
		background-color: $color-3;
	}
	&--no-border {
		&::before {
			display: none;
		}
	}
	&--dark {
		color: black;
	}
}

.container {
	width: $wrapper;
	position: relative;
}

.fa-custom, .ico {
	float: left;
	margin-right: 10px;
}


.overlay {
	background-color: rgba(0,0,0,.8);
}
.left-border {
	position: relative;
	&::before {
		content:"";
		position: absolute;
		display: block;
		left: -50px;
		width: 15px;
		height: 60%;
		background-color: $color-3;
	}
}

.left-full-border {
	position: relative;
	&::before {
		content:"";
		position: absolute;
		display: block;
		left: -50px;
		width: 17px;
		height: 100%;
		background-color: $color-3;
	}
}




p {
	line-height: 2;
	font-size: 14px;
}

pre {
	background-color: white;
	line-height: 1;
	overflow: visible;
}
h2{
	font-size: 2.5em;
	font-weight: bold;
}
a {
	color: black;
	text-decoration: underline;
}

.ico {
	width: 32px; height: 32px;
	font-size: 30px;
	color: $color-3;
}


////////////////////////////////////////////////////////////////////////////////
//
//								Scroll btn
//
////////////////////////////////////////////////////////////////////////////////


.scroll-manage {
	width: $medium-pad;
	height: $medium-pad;
	background-image: url("assets/images/scroll.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	position: fixed;
	bottom: $medium-pad;
	left: 50%;
	z-index: 999;
	@include transform(translateX(-50%) translateY(0));
	@include transition(.4s);
	&.hide {
		display: block;
		@include transform(translateX(-50%) translateY(100px));
	}
}

.scroll-to-top {
	width: $medium-pad;
	height: $medium-pad;
	background-color: $color-3;
	background-image: url("assets/images/arrow-top.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 50%;
	position: fixed;
	bottom: $small-pad;
	right: $small-pad;
	z-index: 999;
	@include transition(.4s);
	@include transform(translateX(0));
	&.hide {
		display: block !important;
		@include transform(translateX(100px));
	}
}

////////////////////////////////////////////////////////////////////////////////
//
//								OVERRIDE BOOTSTRAP
//
////////////////////////////////////////////////////////////////////////////////




@media (max-width: 1230px) {
		 #content-page {
			padding: $big-pad $small-pad;
		}
		.navbar-header {
				float: none;
		}
		.navbar-left,.navbar-right {
				float: none !important;
		}
		.navbar-toggle {
				display: block;
		}
		.navbar-fixed-top {
				top: 0;
				border-width: 0 0 1px;
		}
		.navbar-nav {
				float: none!important;
				margin-top: 7.5px;
		}
		.navbar-nav>li {
				float: none;
		}
		.navbar-nav>li>a {
				padding-top: 10px;
				padding-bottom: 10px;
		}
}


.page-template-template-checkout, .woocommerce-cart {
	.container {
		width: 1150px;
	}
}

@media screen and (max-width: $break-point-1){
	.container {
		width: 100%;
	}
	.page-template-template-checkout, .woocommerce-cart {
		.container {
			width: 100%;
		}
	}
}


@media screen and (max-width: $break-point-2){
	.container {
		width: 100%;
	}
	.page-template-template-checkout, .woocommerce-cart {
		.container {
			width: 100%;
		}
	}
}
