/*
Style générique à l'ensemble du thème:
- bouton
- helper css
- format de documents
- notification
*/

body {
	font-family: $main-font;
	background: black;
	letter-spacing: 1px;
}

p {
	line-height: 2;
	font-size: 14px;
}

pre {
	background-color: white;
	line-height: 1;
	overflow: visible;
}

h2{
	font-size: 2.5em;
	font-weight: bold;
}

a {
	color: $color-3;
	text-decoration: underline;
}

strong {
	font-weight: bold;
	font-family: "Muli";
}

.ico {
	width: 32px; height: 32px;
	font-size: 30px;
	color: $color-3;
}

.container {
	width: $wrapper;
    position: relative;
} 


.fa-container {
	height: 55px !important;
}

.separator--center {
	position: relative;
	&::after {
		content:"";
		height: calc(100% - #{2*$big-pad});
		position: absolute;
		top: $big-pad;
		left: 50%;
		width: 1px; 
		background-color: black;
	}
}

.main-title {
	font-size: 2.5em;
	font-weight: bold;
	margin-bottom: 32px;
	color: white;
	position: relative;
	&::before {
		content:"";
		position: absolute;
		display: block;
		left: -50px;
		width: 17px;
		height: 100%;
		background-color: $color-3;
	}
	&--no-border {
		&::before {
			display: none;
		}
	}
	&--dark {
		color: black;
	}
}


.fa-custom, .ico {
	float: left;
	margin-right: 10px;
}



.overlay { background-color: rgba(0,0,0,.8); }

.left-border {
	position: relative;
	&::before {
		content:"";
		position: absolute;
		display: block;
		left: -50px;
		width: 15px;
		height: 60%;
		background-color: $color-3;
	}
}

.left-full-border {
	position: relative;
	&::before {
		content:"";
		position: absolute;
		display: block;
		left: -50px;
		width: 17px;
		height: 100%;
		background-color: $color-3;
	}
}

////////////////////////////////////////////////////////////////////////////////
//
//								Scroll btn
//
////////////////////////////////////////////////////////////////////////////////


.scroll-manage {
	width: $medium-pad;
	height: $medium-pad;
	background-image: url("assets/images/scroll.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	position: fixed;
	bottom: $medium-pad;
	left: 50%;
	z-index: 999;
	@include transform(translateX(-50%) translateY(0));
	@include transition(.4s);
	&.hide {
		display: block;
		@include transform(translateX(-50%) translateY(100px));
	}
}

.scroll-to-top {
	width: $medium-pad;
	height: $medium-pad;
	background-color: $color-3;
	background-image: url("assets/images/arrow-top.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 50%;
	position: fixed;
	bottom: $small-pad;
	right: $small-pad;
	z-index: 999;
	@include transition(.4s);
	@include transform(translateX(0));
	&.hide {
		display: block !important;
		@include transform(translateX(100px));
	}
}

.resident_button {
	background-color: $color-3;
	color: black;
	position: fixed;
	width: auto;
	right: 55px;
	bottom: $small-pad;
	height: $medium-pad;
	background-image: none;
	text-align: center;
	display: block;
	text-decoration: none;
	font-weight: bold;
	padding: 10px;
	text-transform: uppercase;
	@include transition(.4s);
	@include transform(translateX(0));
	&.hide {
		display: none !important;
		@include transform(translateX(40px));
	}
}

.su-slider {
	max-width: 760px;
	max-height: 500px;
}


////////////////////////////////////////////////////////////////////////////////
//
//								OVERRIDE WooCommerce
//
////////////////////////////////////////////////////////////////////////////////

.woocommerce-variation-price {
	.price
		//Prix variation page produit
		.woocommerce-Price-amount.amount {
			display: block;
			text-align: center;
			font-size: 2em;
			color: #ffed00;
			font-weight: bold;
			margin-bottom: 16px;
		}
}

////////////////////////////////////////////////////////////////////////////////
//
//								OVERRIDE BOOTSTRAP
//
////////////////////////////////////////////////////////////////////////////////



@media (max-width: 1230px) {
		 #content-page {
			padding: $big-pad $small-pad;
		}
		.navbar-header {
				float: none;
		}
		.navbar-left,.navbar-right {
				float: none !important;
		}
		.navbar-toggle {
				display: block;
		}
		.navbar-fixed-top {
				top: 0;
				border-width: 0 0 1px;
		}
		.navbar-nav {
				float: none!important;
				margin-top: 7.5px;
		}
		.navbar-nav>li {
				float: none;
		}
		.navbar-nav>li>a {
				padding-top: 10px;
				padding-bottom: 10px;
		}
}


.page-template-template-checkout, .woocommerce-cart {
	.container {
		width: 1150px;
	}
}

@media screen and (max-width: $break-point-1){
	.container {
		width: 100%;
	}
	.page-template-template-checkout, .woocommerce-cart {
		.container {
			width: 100%;
		}
	}

	.separator--center::after {
		display: none;
	}


}


@media screen and (max-width: $break-point-2){
	.container {
		width: 100%;
	}
	.page-template-template-checkout, .woocommerce-cart {
		.container {
			width: 100%;
		}
	}

		
	.hidden-sm-down {
		display: none;
	}
}
