// Entrer votre charte graphique
$color-1: #FFF;    	//White
$color-2: #000;		//Black
$color-3: #ffed00;	//Yellow
$color-4: rgba(255, 255, 255, .95);	//Grey

$mask: rgba(20, 16, 14, 0.9);

// Entrez vos fonts
$main-font: "CenturyGothic Regular";
$second-font: "CenturyGothic Bold";

// Quelques dimmensions récurrentes
$small-pad: 16px;
$medium-pad: 32px;
$big-pad: 64px;

$height-btn : 40px;
$width-btn: 100px;

$size-s: 13px;
$size-n: 14px;
$size-m: 16px;
$size-b: 20px;
$size-xxl: 30px;

$wrapper: 1000px;


$break-point-1 : 1160px;
$break-point-2 : 860px;
$break-point-3 : 480px;


$body-top: 120px;
