// Entrer votre charte graphique
$color-1: #FFF;
$color-2: #000;
$color-3: #ffed00;
$color-4: rgba(255, 255, 255, .95);


// Entrez vos fonts
$main-font: "CenturyGothic Regular";
$second-font: "CenturyGothic Bold";

// Quelques dimmensions récurrentes
$small-pad: 16px;
$medium-pad: 32px;
$big-pad: 64px;

$height-btn : 40px;
$width-btn: 100px;


$wrapper: 1000px;


$break-point-1 : 1160px;
$break-point-2 : 860px;
$break-point-3 : 420px;
