// Entrer votre charte graphique
$color-1: #FFF;
$color-2: #333;
$color-4: #666;
$color-3: #A10D59;
$color-3-light : #BD558A;
$color-4: #eff1f1;

// Entrez vos fonts
$main-font: "Open Sans";
$font-2: "Roboto Bold";

// Quelques dimmensions récurrentes
$wrapper: 1080px;
$small-pad: 15px;
$medium-pad: 32px;
$big-pad: 64px;
